In [173]:
import pandas as pd
import numpy as np
from numpy.linalg import inv

In [174]:
dataset = pd.read_csv('https://perso.telecom-paristech.fr/eagan/class/igr204/data/cereal.csv',sep=';',skiprows=[ 1 ])

In [175]:
dataset.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [176]:
dataset.shape

(77, 16)

In [177]:
dataset.columns

Index(['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating'],
      dtype='object')

In [178]:
dataset['mfr'].unique()

array(['N', 'Q', 'K', 'R', 'G', 'P', 'A'], dtype=object)

In [179]:
dataset.shape

(77, 16)

In [180]:
dataset['type'].unique()

array(['C', 'H'], dtype=object)

In [181]:
dataset['name'].unique().shape

(77,)

In [182]:
dataset_reduced = dataset.drop( ['name','mfr','type'], axis=1)

In [183]:
dataset_reduced.shape

(77, 13)

In [184]:
dataset_reduced.head(n=10)

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,120,3,5,15,2.0,8.0,8,135,0,3,1.00,1.00,33.983679
2,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
3,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912
4,110,2,2,200,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
5,110,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
6,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
7,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
8,90,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67,49.120253
9,90,3,0,210,5.0,13.0,5,190,25,3,1.00,0.67,53.313813

In [185]:
X = dataset_reduced.iloc[ :, :-1 ]

In [186]:
X.shape

(77, 12)

In [187]:
X.head()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups
0,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33
1,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00
2,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33
3,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50
4,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75

In [188]:
y = dataset_reduced['rating']

In [189]:
y.shape

(77,)

In [190]:
P = np.zeros( (5,3) )

In [191]:
Q = np.ones_like(P)

In [192]:
Q

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [193]:
x_0 = np.ones_like(y)

In [194]:
x_0.shape

(77,)

In [195]:
#Matrix multiplication
#P = np.dot(R, S)
#Q = inv(P)
#Z = Q.T
arr1 = np.array(X)
Xt = arr1.transpose()  
mul= np.dot(Xt,X)
b=np.dot(np.linalg.inv(mul),Xt)
np.dot(b,y)

array([-0.20633776,  4.21365121, -1.76036607, -0.0548391 ,  5.05075898,
        1.13417772, -0.8346322 , -0.09446351, -0.14702129,  3.21042011,
       33.6328971 , 16.92563191])